$offset: 188;
$duration: 1.4s;

:root {
    --shadow: rgba(21,27,38, 0.07);
    --bg-color: #f6f8f9;

    --grey: #6C7486;

    --primary: #246DFF;
    --primary-hover: #3D7EFF;
    --primary-active: #004EEB;

    font-size: 100%;
}

body{
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    upload-prompt{
        box-shadow: 0 2px 8px var(--shadow), 0 8px 32px var(--shadow);
        width: 512px;
        height: 416px;
        border-radius: 8px;
        background-color: #fff;
        align-self: center;
        color: var(--grey);
        text-align: center;

        &.is-prompting{
            heading{
                opacity: 0;
                transform: translateY(-32px);
                transition: all 200ms 0ms ease;
            }

            instructions{
                opacity: 0;
                transform: translateY(-32px);
                transition: all 200ms 80ms ease;
            }

            button{
                opacity: 0;
                transform: translateY(-32px);
                pointer-events: none;
                transition: all 200ms 160ms ease;
            }

            drop-instructions{
                upload{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition: all 200ms 240ms ease;

                    svg{
                        transform: translateY(0);
                        opacity: 1;
                        transition: transform 200ms 280ms ease, opacity 200ms 280ms ease;
                    }
                }

                status{
                    visibility: visible;
                    opacity: 0.6;
                    transform: translateY(0);
                    transition: all 200ms 320ms ease;
                }
            }
        }

        &.is-uploading{
            label{
                cursor: wait;

                drop-instructions{
                    upload{
                        &:before{
                            display: none;
                        }
    
                        svg{
                            &.-spinner{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        label{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            padding: 16px 96px;
            cursor: pointer;
            user-select: none;

            heading{
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.618;
                margin-bottom: 1rem;
                opacity: 0.87;
                display: block;
                pointer-events: none;
                transition: all 200ms 320ms ease;
            }
    
            instructions{
                line-height: 1.618;
                opacity: 0.6;
                display: block;
                margin-bottom: 2rem;
                pointer-events: none;
                transition: all 200ms 240ms ease;
            }
    
            button{
                height: 36px;
                width: 86px;
                line-height: 36px;
                padding: 0 16px;
                border-radius: 2px;
                color: #fff;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 600;
                background-color: var(--primary);
                cursor: pointer;
                transition: all 200ms 160ms ease, background-color 150ms ease;

                &:hover{
                    background-color: var(--primary-hover);
                }

                &:active{
                    background-color: var(--primary-active);
                }
            }

            drop-instructions{
                display: inline-flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                pointer-events: none;
                flex-flow: column wrap;

                upload,
                status{
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(32px);
                }

                upload{
                    border-radius: 50%;
                    width: 96px;
                    height: 96px;
                    pointer-events: none;
                    justify-content: center;
                    align-items: center;
                    display: inline-flex;
                    margin-bottom: 2rem;
                    color: var(--primary-hover);
                    transition: all 200ms 80ms ease;

                    &::before{
                        content: "";
                        display: inline-block;
                        border: 3px solid var(--primary-hover);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        border-radius: 50%;
                        left: 0;
                    }
    
                    svg{
                        transform: translateY(16px);
                        opacity: 0;
                        transition: transform 200ms 100ms ease, opacity 200ms 100ms ease;

                        &.-icon{
                            width: 32px;
                            height: 32px;
                            margin: auto;
                        }

                        &.-spinner{
                            width: 100%;
                            height: 100%;
                            animation: rotator $duration linear infinite;
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                                
                            circle{
                                stroke-dasharray: $offset;
                                stroke-dashoffset: 0;
                                transform-origin: center;
                                animation: dash $duration ease-in-out infinite;
                                stroke-width: 2.25px;
                                stroke: var(--primary-hover);
                            }
                        }
                    }
                }

                status{
                    line-height: 1.618;
                    display: block;
                    pointer-events: none;
                    transition: all 200ms 0ms ease;
                }
            }
        }

        input{
            visibility: hidden;
            position: absolute;
            top: -9999px;
            left: -9999px;
            opacity: 0;
            width: 0px;
            height: 0px;
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
    }
}